<footer>
	<div class="col-xs-3">
		<h4>Contact Me</h4>
		<div>
			<abbr title="Email"><span class="pull-left marginright10"><i class="icon-envelope"></i></span></abbr>
			<span class="pull-left">uttam12061988@gmail.com</sapn>
		</div>
		<div class="clearfix spacer10"></div>
		<div>
			<abbr title="Phone"><span class="pull-left marginright10"><i class="icon-phone"></i></span></abbr>
			<span class="pull-left">
				AUD -<u>+61-470228392</u><br>
				IND -<u>+91-9090476252</u>
			</span>
		</div>
		<div class="clearfix spacer10"></div>
		<div>
			<abbr title="Location"><span class="pull-left marginright10"><i class="icon-location-arrow"></i></span></abbr>
			<span class="pull-left">
					<address>
					  <strong>Uttam Kumar</strong><br>
					  305,268 Flinders Street<br>
					  Melbourne,Australia,3000<br>
					</address>
			</span>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="col-xs-8">
		<p class="lead">
			“The conclusion is simple: if a 200-man project has 25 managers who are the most competent and experienced programmers,
			fire the 175 troops and put the managers back to programming.” <br>
			<abbr title="Frederick">― Frederick P. Brooks Jr.</abbr>
		</p>
		<p class="lead">
			“How Ironic, when you do business you create exceptions to create new opportunities, when you write code (do a job) you handle exception to make it clean.” <br>
			<abbr title="Pushkar">― Pushkar Saraf</abbr>
		</p>
	</div>
</footer>