<img src="images/uttam.png" class="img-thumbnail">
<div class="spacer10"></div>
<h2>Uttam Kumar Rapeti</h2>
<p>Melbourne,Australia</p>
<p>UI/UX Developer</p>
<a href="css/Uttam_Kumar_UI_Developer.pdf" target="_blank">Resume</a>
<div class="spacer10"></div>
<hr>
<h3>Skills</h3>
<ul class="list-group">
	<li class="list-group-item">HTML5</li>
	<li class="list-group-item">CSS3</li>
	<li class="list-group-item">Bootstrap</li>
	<li class="list-group-item">Javascript</li>
	<li class="list-group-item">Jquery</li>
	<li class="list-group-item">Jquery UI</li>
	<li class="list-group-item">Angularjs</li>
	<li class="list-group-item">Salesforce</li>
	<li class="list-group-item">PHP</li>
	<li class="list-group-item">Mysql</li>
	<li class="list-group-item">Wordpress</li>
</ul>
      
