<div class="jumbotron text-center">
	<h1>Web Developer</h1>
	<p class="lead">
		I am a dedicated web developer and i am passionate to design and develope applications. <br>
		Today, Web services is really about developing for the server. What it means to developers is any set of systems services that you make a Web service you to access by any kind of device with a highly interactive client, not just a browser.
	 </p>
</div>

<div id="categories">
	<div class="col-xs-12">
		<!-- <p class="lead">Design</p>
		<hr> -->
		<div class="col-xs-4">
			<a href="#"><article><img src="images/rsz_ireferLegal.png" class="img-thumbnail"></article></a>
		</div>
		<div class="col-xs-4">
			<a href="#"><article><img src="images/rsz_novabancard.png" class="img-thumbnail"></article></a>
		</div>
		<div class="col-xs-4">
			<a href="#"><article><img src="images/rsz_ilantus.png" class="img-thumbnail"></article></a>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="spacer20"></div>
	<div class="col-xs-12">
		<!-- <p class="lead">Scripts</p>
		<hr> -->
		<div class="col-xs-4">
			<a href="#"><article><img src="images/rsz_peel&sticktiles.png" class="img-thumbnail"></article></a>
		</div>
		<div class="col-xs-4">
			<a href="#"><article><img src="images/rsz_citipowercor.png" class="img-thumbnail"></article></a>
		</div>
		<div class="col-xs-4">
			<a href="#"><article><img src="images/rsz_yaffaswings.png" class="img-thumbnail"></article></a>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="spacer20"></div>
	<!-- <div class="col-xs-12">
		 <p class="lead">Freamworks</p>
		<hr> 
		<div class="col-xs-4"><article><img src="images/rsz_peel&sticktiles.png" class="img-thumbnail"></article></div>
		<div class="col-xs-4"><article><img src="images/rsz_citipowercor.png" class="img-thumbnail"></article></div>
		<div class="col-xs-4"><article><img src="images/rsz_yaffaswings.png" class="img-thumbnail"></article></div>
		<div class="clearfix"></div>
	</div>
	<div class="spacer20"></div>
	<div class="col-xs-12">
		 <p class="lead">Server Side</p>
		<hr>
		<div class="col-xs-4"><article><img src="images/rsz_ireferLegal.png" class="img-thumbnail"></article></div>
		<div class="col-xs-4"><article><img src="images/rsz_novabancard.png" class="img-thumbnail"></article></div>
		<div class="col-xs-4"><article><img src="images/rsz_ilantus.png" class="img-thumbnail"></article></div>
		<div class="clearfix"></div>
	</div>
	<div class="spacer20"></div> -->
</div>
<div id="companies">
	<div class="col-xs-12">
		<p class="lead">List of Companies that i worked</p>
		<hr>
		<div class="well" id="map">
			Coming Soon...
		</div>
	</div>
</div>